In [1]:
import pandas as pd
import feast

In [2]:
load_df = pd.read_parquet('credit_scoring/feature_repo/raw_data/loan_table.parquet')
load_df

,loan_id,dob_ssn,zipcode,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_status,event_timestamp,created_timestamp
0,10000,19530219_5179,76104,22,59000,RENT,123.0,PERSONAL,35000,16.02,1,2021-08-25 20:34:41.361000+00:00,2021-08-25 20:34:41.361000+00:00
1,10001,19520816_8737,70380,21,9600,OWN,5.0,EDUCATION,1000,11.14,0,2021-08-25 20:16:20.128000+00:00,2021-08-25 20:16:20.128000+00:00
2,10002,19860413_2537,97039,25,9600,MORTGAGE,1.0,MEDICAL,5500,12.87,1,2021-08-25 19:57:58.896000+00:00,2021-08-25 19:57:58.896000+00:00
3,10003,19760701_8090,63785,23,65500,RENT,4.0,MEDICAL,35000,15.23,1,2021-08-25 19:39:37.663000+00:00,2021-08-25 19:39:37.663000+00:00
4,10004,19830125_8297,82223,24,54400,RENT,8.0,MEDICAL,35000,14.27,1,2021-08-25 19:21:16.430000+00:00,2021-08-25 19:21:16.430000+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28633,38633,19491126_1487,43205,57,53000,MORTGAGE,1.0,PERSONAL,5800,13.16,0,2020-08-25 21:48:06.292000+00:00,2020-08-25 21:48:06.292000+00:00
28634,38634,19681208_6537,24872,54,120000,MORTGAGE,4.0,PERSONAL,17625,7.49,0,2020-08-25 21:29:45.059000+00:00,2020-08-25 21:29:45.059000+00:00
28635,38635,19880422_2592,68826,65,76000,RENT,3.0,HOMEIMPROVEMENT,35000,10.99,1,2020-08-25 21:11:23.826000+00:00,2020-08-25 21:11:23.826000+00:00
28636,38636,19901017_6108,92014,56,150000,MORTGAGE,5.0,PERSONAL,15000,11.48,0,2020-08-25 20:53:02.594000+00:00,2020-08-25 20:53:02.594000+00:00
28637,38637,19960703_3449,69033,66,42000,RENT,2.0,MEDICAL,6475,9.99,0,2020-08-25 20:34:41.361000+00:00,2020-08-25 20:34:41.361000+00:00

In [6]:
fs = feast.FeatureStore(repo_path='credit_scoring/feature_repo/')
feature_service_v1 = fs.get_feature_service("features_group_v1")
feature_service_v2 = fs.get_feature_service("features_group_v2")

In [12]:
training_df = fs.get_historical_features(
    entity_df=load_df,
    features=feature_service_v1
).to_df()
training_df2= fs.get_historical_features(
    entity_df=load_df,
    features=feature_service_v2
).to_df()

In [13]:
training_df

,loan_id,dob_ssn,zipcode,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,...,missed_payments_2y,missed_payments_1y,missed_payments_6m,bankruptcies,city,state,location_type,tax_returns_filed,population,total_wages
0,38637,19960703_3449,69033,66,42000,RENT,2.0,MEDICAL,6475,9.99,...,4,0,1,0,IMPERIAL,NE,PRIMARY,1171,2141,32596076
1,38276,19770128_3701,61345,39,75000,RENT,0.0,PERSONAL,14400,12.53,...,6,1,0,0,NEPONSET,IL,PRIMARY,413,730,11569469
2,38287,19600201_7821,54901,48,140000,MORTGAGE,4.0,EDUCATION,18000,9.99,...,1,0,0,0,OSHKOSH,WI,PRIMARY,15059,23996,469695341
3,38286,19921119_7451,20912,36,58000,RENT,18.0,DEBTCONSOLIDATION,5000,6.62,...,0,0,0,0,TAKOMA PARK,MD,PRIMARY,11982,19175,543954725
4,38285,19580615_7535,64856,46,48956,RENT,0.0,MEDICAL,2800,10.59,...,1,1,0,1,PINEVILLE,MO,PRIMARY,1609,2929,45969820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28633,10041,20000903_5182,60191,26,300000,MORTGAGE,10.0,VENTURE,20000,7.88,...,1,0,0,0,WOOD DALE,IL,PRIMARY,7487,12973,294594830
28634,10153,19610414_1854,81008,25,61959,RENT,9.0,MEDICAL,25000,12.73,...,1,1,0,0,PUEBLO,CO,PRIMARY,5074,8861,172125946
28635,10018,19751208_7623,20692,23,113000,RENT,8.0,DEBTCONSOLIDATION,35000,18.25,...,4,1,0,0,VALLEY LEE,MD,PRIMARY,589,1054,28617466
28636,10188,19711230_6002,13602,24,75000,RENT,4.0,EDUCATION,25000,10.25,...,1,3,0,0,FORT DRUM,NY,PRIMARY,2360,2867,47053802
28637,10228,19760923_8246,33885,23,66215,RENT,1.0,MEDICAL,25000,15.37,...,5,0,0,2,WINTER HAVEN,FL,PRIMARY,437,739,10351615

In [14]:
training_df2

,loan_id,dob_ssn,zipcode,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,...,credit_card_due,mortgage_due,student_loan_due,vehicle_loan_due,hard_pulls,missed_payments_2y,missed_payments_1y,missed_payments_6m,bankruptcies,city
0,38637,19960703_3449,69033,66,42000,RENT,2.0,MEDICAL,6475,9.99,...,1928,1197324,24208,4691,1,4,0,1,0,IMPERIAL
1,38276,19770128_3701,61345,39,75000,RENT,0.0,PERSONAL,14400,12.53,...,6758,1809411,46992,3564,5,6,1,0,0,NEPONSET
2,38287,19600201_7821,54901,48,140000,MORTGAGE,4.0,EDUCATION,18000,9.99,...,48,1454913,39955,1506,1,1,0,0,0,OSHKOSH
3,38286,19921119_7451,20912,36,58000,RENT,18.0,DEBTCONSOLIDATION,5000,6.62,...,1975,949966,10153,11551,1,0,0,0,0,TAKOMA PARK
4,38285,19580615_7535,64856,46,48956,RENT,0.0,MEDICAL,2800,10.59,...,5473,1940913,12078,28815,10,1,1,0,1,PINEVILLE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28633,10041,20000903_5182,60191,26,300000,MORTGAGE,10.0,VENTURE,20000,7.88,...,969,917753,2293,24622,1,1,0,0,0,WOOD DALE
28634,10153,19610414_1854,81008,25,61959,RENT,9.0,MEDICAL,25000,12.73,...,5716,166565,16218,17746,2,1,1,0,0,PUEBLO
28635,10018,19751208_7623,20692,23,113000,RENT,8.0,DEBTCONSOLIDATION,35000,18.25,...,5645,575959,19917,24400,6,4,1,0,0,VALLEY LEE
28636,10188,19711230_6002,13602,24,75000,RENT,4.0,EDUCATION,25000,10.25,...,5047,1060096,43874,803,6,1,3,0,0,FORT DRUM
28637,10228,19760923_8246,33885,23,66215,RENT,1.0,MEDICAL,25000,15.37,...,1163,1869450,33264,13907,9,5,0,0,2,WINTER HAVEN